
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Page Contact</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active link_none" aria-current="page" routerLink="/Home" class="cursor-pointer">Home</a>
        <a class="nav-link link_none" routerLink="/Habilities" class="cursor-pointer">Habilities</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


<footer class="mt-5 bg-black p-4 text-light position-absolute" style="right: 0;bottom: -1;left: 0;">
  <div class="position-relative">
    <ul>
      <li>Indeed Profile</li>
      <li>Linkedin Profile</li>
      <li>GitHub Proyects</li>
      <li>Gmail</li>
    </ul>
  </div>
</footer>